{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">

    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">Recent Transactions</h2>
                                </div>
                                <div class="col text-end">
                                    <a href="/transactions.html" class="btn btn-sm btn-primary">See more</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom" scope="col">Mobile Number</th>
                                    <th class="border-bottom" scope="col">Amount Transaction</th>
                                    <th class="border-bottom" scope="col">Amount Charged</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        +639056895767
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        ₱100
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        ₱5
                                    </td>
                                    <td class="fw-bolder text-gray-500">

                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        +639687065928
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        ₱80
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        ₱4
                                    </td>
                                    <td class="fw-bolder text-gray-500">

                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        +639123456789
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        ₱100
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                    ₱5
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        +639987654321
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        ₱60
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        ₱4
                                    </td>
                                    <td class="fw-bolder text-gray-500">

                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        +639000999911
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        ₱20
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        ₱2
                                    </td>
                                    <td class="fw-bolder text-gray-500">

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xxl-6 mb-4">
                            <div class="col-auto">
 
                <div class="col-12 col-xxl-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                            <h2 class="fs-5 fw-bold mb-0">Resources</h2>
                              <a href="/settings.html" class="btn btn-sm btn-primary">See more</a>
                          </div>
                        <div class="card-body">
                            <!-- Project 1 -->
                            <div class="row mb-4">
                                <div class="col-auto">
                                    <svg class="icon icon-sm text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                                </div>
                                <div class="col">
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="h6 mb-0">Coins Remaining</div>
                                            <div class="small fw-bold text-gray-500"><span>1220</span></div>
                                        </div>
                                        <div class="progress mb-0">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project 2 -->



 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
